@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* @model List<YourNamespace.Models.News> *@
@model List<News>
<div class="container mt-4">
    @if (Model.Any())  
    {
            <h2>News from @Model.First().Topic.Name</h2>  

        @foreach (var news in Model)  
        {
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="@news.ImagePath" class="img-fluid" alt="News Image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="@Url.Action("Details", "Home", new { id = news.Id })">@news.Title</a>
                                    </h5>
                                    <p class="card-text">@news.PublishedDate.ToShortDateString()</p>
                                    <p class="card-text">@news.Content.Substring(0, Math.Min(news.Content.Length, 100))...</p>
                                    <a href="@Url.Action("Details", "Home", new { id = news.Id })" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
        }
    }
    else
    {
            <h2>No news available for this topic.</h2>
    }
</div>

